body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px; /* Altura do rodapé */
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.header h1 {
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.header img {
    margin-right: 10px;
}

.config-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #007BFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.chart {
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
}

/* Estilo do rodapé */
footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

/* Estilos específicos para login e registro */
.login-container, .register-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container h2, .register-container h2 {
    margin: 0 0 20px;
    text-align: center;
}

.login-container label, .register-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input, .register-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button, .register-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover, .register-container button:hover {
    background-color: #0056b3;
}

.register-link, .login-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a, .login-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover, .login-link a:hover {
    text-decoration: underline;
}
