/* Estilo do corpo da página */
body {
    /* Define a fonte e cor do texto */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Define a cor de fundo */
    background-color: #f0f0f0;
    position: relative;
    /* Define a altura mínima da página */
    min-height: 100vh;
    /* Adiciona um padding de 50px no final da página para o rodapé */
    padding-bottom: 50px;
    box-sizing: border-box;
}

/* Estilo do container principal */
.container {
    /* Define a largura do container */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* Define a cor de fundo do container */
    background-color: white;
    /* Adiciona uma sombra ao container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Define o raio da borda do container */
    border-radius: 8px;
}

/* Estilo do cabeçalho */
.header {
    /* Define o layout do cabeçalho como flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Define a cor de fundo do cabeçalho */
    background-color: #007BFF;
    color: white;
    padding: 10px;
    /* Define o raio da borda do cabeçalho */
    border-radius: 8px 8px 0 0;
}

/* Estilo do título do cabeçalho */
.header h1 {
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

/* Estilo da imagem do cabeçalho */
.header img {
    margin-right: 10px;
}

/* Estilo do ícone de configuração */
.config-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Estilos de Navegação */
.navigation {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Estilo da seção */
.section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #007BFF;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Estilo dos inputs, selects e botões */
input, select, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo do gráfico */
.chart {
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
}

/* Modo escuro */
body.dark-mode {
    background-color: #121212;
    color: e0e0e0;
}
.container.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.header.dark-mode {
    background-color: #333;
}

.nav-link.dark-mode {
    color: #e0e0e0;
}

button.dark-mode {
    background-color: #333;
    color: #e0e0e0;
}

button.dark-mode:hover {
    background-color: #555;
}

input.dark-mode, select.dark-mode {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

table.dark-mode, th.dark-mode, td.dark-mode {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

footer.dark-mode {
    background-color: #333;
}

/* Estilo do rodapé */
footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

/* Estilos específicos para login e registro */
.login-container, .register-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container h2, .register-container h2 {
    margin: 0 0 20px;
    text-align: center;
}

.login-container label, .register-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input, .register-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button, .register-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover, .register-container button:hover {
    background-color: #0056b3;
}

.register-link, .login-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a, .login-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover, .login-link a:hover {
    text-decoration: underline;
}
